obj/
bin/
*.depend
*.layout
*.cbp
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.o
*.out

# Local History for Visual Studio Code
.history/
# For mac
.DS_Store